<body>
	<div data-sly-resource="${'clientcontext' @ resourceType='cq/personalization/components/clientcontext_optimized'}" data-sly-unwrap></div>
	<div>
		<sly data-sly-include="header.html"></sly>
		<sly data-sly-include="content.html"></sly>
		<sly data-sly-include="footer.html"></sly>
		<sly data-sly-resource="${'backToTop' @ resourceType='/apps/immerse-project/components/content/back-to-top', wcmmode='disabled'}"></sly>
	</div>
	<div data-sly-resource="${'cloudservices' @ resourceType='cq/cloudserviceconfigs/components/servicecomponents'}" data-sly-unwrap></div>
	<meta data-sly-use.clientlib="${'granite/sightly/templates/clientlib.html'}" data-sly-call="${clientlib.js @ categories='immerse-project.all'}" data-sly-unwrap></meta>
</body>
